{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Notre-Dame de Paris (French: [n?t?? dam d? pa?i] ( listen); meaning "Our Lady of Paris"), also known as Notre-Dame Cathedral or simply Notre-Dame, is a medieval Catholic cathedral on the ?le de la Cit? in the fourth arrondissement of Paris, France.[3] The cathedral is widely considered to be one of the finest examples of French Gothic architecture, and it is among the largest and most well-known church buildings in the world. The naturalism of its sculptures and stained glass are in contrast with earlier Romanesque architecture.

    As the cathedral of the Archdiocese of Paris, Notre-Dame contains the cathedra of the Archbishop of Paris, currently Cardinal Andr? Vingt-Trois.[4] The cathedral treasury contains a reliquary, which houses some of Catholicism's most important relics, including the purported Crown of Thorns, a fragment of the True Cross, and one of the Holy Nails.

    In the 1790s, Notre-Dame suffered desecration in the radical phase of the French Revolution when much of its religious imagery was damaged or destroyed. An extensive restoration supervised by Eug?ne Viollet-le-Duc began in 1845. A project of further restoration and maintenance began in 1991.</p>

{% endblock %}
