{% extends "layout.html" %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

    * {
        padding: 0;
        margin: 0;
        font-family: "Lato", sans-serif;
        position: relative;
    }

    .timeline {
        padding: 40px 0px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;
    }

    .timeline:before {
        content: "";
        position: absolute;
        top: 40px;
        left: 65px;
        width: 3px;
        height: calc(100% - 80px);
        background: #c0392b;
    }

    .timeline .column {
        margin: 40px 40px 40px 120px;
    }

    .timeline .column .title h1 {
        font-size: 120px;
        color: rgba(0,0,0,0.1);
        font-family: serif;
        letter-spacing: 3px;
    }

    .timeline .column .title h1:before {
        content: "";
        position: absolute;
        left: -62px;
        top: 86px;
        width: 10px;
        height: 10px;
        background: #fff;
        border: 3px solid #c0392b;
    }

    .timeline .column .title h2 {
        margin-top: -60px;
        font-size: 33px;
    }

    .timeline .column .description p {
        font-size: 13px;
        line-height: 20px;
        margin-left: 20px;
        margin-top: 10px;
        font-family: serif;
    }

    .timeline .column .description ul li {
        font-size: 13px;
        line-height: 20px;
        margin-left: 20px;
        font-family: serif;
    }

    .timeline .column .description {
        border-left: 1px solid #000;
    }

    .main {
        width: 80%;
        margin-left: 10%;
        margin-top: 80px;
    }

    .main h1 {
        font-size: 80px;
        line-height: 60px;
    }

    .main p {
        font-size: 13px;
        line-height: 20px;
        font-family: serif;
        text-align: right;
    }
    ul {
        margin: 0;
    }
    ul.dashed {
        list-style-type: none;
    }
    ul.dashed > li {
        text-indent: -5px;
    }
    ul.dashed > li:before {
        content: "-";
        text-indent: -5px;
    }
</style>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class="row">
    <img class="img-responsive" src="../static/content/cnd_night.jpg"/>
</div>
<!-- Thanks! https://codepen.io/vysocina/pen/jyYEjp -->
<div class="row">
    <div class="main">
        <h1>Cathedral Of<br>Notre Dame</h1>
        <p>History of more than 800 years of Cathedral of Notre Dame...</p>
    </div>

    <div class="timeline">
        <div class="column">
            <div class="title">
                <h1> 2004 </h1>
                <h2>  Cardinal-Archbishop <br> Jean-Marie Lustiger </h2>
            </div>
            <div class="description">
                <p> The last changes, in 2004, under the episcopate of the Cardinal-Archbishop Jean-Marie Lustigerwill allow others to find the area of movement between the two transepts and, due to the new arrangement of places. associate fully the choir and the nave are now more than one during liturgical celebrations. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 2000 </h1>
                <h2>  Clean-up Campaign of the  <br> Western façade </h2>
            </div>
            <div class="description">
                <p> The great clean-up campaign of the Western façade which lasted more than a decade and which, thanks to the talents of the restorers of the services of Historical Monuments and the techniques used, allows us since the year 2000 again admire the jewels of medieval architecture in all its splendour. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1990 - 1992 </h1>
                <h2> Large-scale Restoration </h2>
            </div>
            <div class="description">
                <p> The big organbecame probably in the 20th century the most famous of the world, was the subject ofa large-scale restoration carried out by a group of french organ factors. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1965 </h1>
                <h2> Renewal of the Stained <br> Glass Windows of the Nave </h2>
            </div>
            <div class="description">
                <p> The colmination of 30 years of intense debates on the renewal of the stained glass windows of the nave in lieu of the grisailles of the nineteenth. It is ultimately the master glassmaker Jacques the Chevallier who was chosen to achieve these canopies on the principle of grisailles figurative and lively culours, which corresponded to a State and a bright atmosphere as they had been in the 13th century. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1864 <!-- – 1978 --> </h1>
                <h2> the dedication of the Cathedral by  <br> Bishop Darboy </h2>
            </div>
            <div class="description">
                <p> On May 31, 1864, will be the dedication of the Cathedral by Bishop Darboy, Archbishop of Paris. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1857 <!-- - 2009 --> </h1>
                <h2> SWISSMETRO </h2>
            </div>
            <div class="description">
                <p>
                    The restoration project is entrusted to two architects: Eugène Viullet-le-Duc and Jean-Baptiste Lassus. In 1857, the death of Lassus leaves Viullet-le-Duc, one contractor.
                </p>
                <p>
                    Restore a building, is not maintaining it, fix it, or do it again, is to restore a full State that may have never existed at any given time. (Viullet-le-Duc)
                </p>
                <p>This is how began this great campaign of restoration, Assistant sometimes changes of the general architecture, the main areas are:</p>
                <ul class="dashed">
                    <li>reconstruction of the arrow </li>
                    <li>the return of the sculptures (15 sculptors, including Adulphe Geoffroy-Dechaume, will occur)</li>
                    <li>rise of the new sacristy</li>
                    <li>back in place of a new glass by appealing to a large master glassmakers (Alfred Gérente, Louis Steinhel, Antoine Husson, Marshal of Metz, Didron groin)</li>
                    <li>to the central portal restoration of the State prior to the work of Soufflot</li>
                    <li>reconstruction of a part Treasury and furniture</li>
                    <li>wall paintings in the side chapels</li>
                    <li>complete renovation of the big organ</li>
                </ul>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1844 </h1>
                <h2> DARYL OSTER: <br> EVACUATED TUBE TRANSPORT TECHNOlOGIES (ET3) </h2>
            </div>
            <div class="description">
                <p> the Government of King Louis-Philippe 1st decreed the restoration of the Cathedral of Paris and the construction of a sacristy. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1831 </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p>  Victor Hugo published his novel Notre Dame de Paris, which will be a huge success. </p>
            </div>
        </div>
        <!---->
        <div class="column">
            <div class="title">
                <h1> 1801-1802 </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p>  In the early 19th century, the context is new: a new concordat was signed in July 1801, and Notre Dame went to Roman Cathulic worship on April 18, 1802. </p>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <h1> 17th - 18th Centuries </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p>  Redevelopment under the direction of Robert de Cotte of the sanctuary and the choir to perform the Vow of Louis XIII.</p>
                <ul class="dashed">
                    <li>Restoration of the Rose Sud.</li>
                </ul>

                <p>  Replacement of stained glass windows of the 12th and the 13th century by white windows in the middle of the 18th century by the brothers of the uld.</p>  
                <p>Work of the architect Soufflot:</p>
                <ul class="dashed">
                    <li>new sacristy</li>
                    <li>Redevelopment of the Central portal.</li>
                </ul>
                <br/>
                <p>During the revulutionary period:</p>
                <ul class="dashed">
                    <li>Disassembly of the arrow from the 13th century</li>
                    <li>Destruction of the 28 statues of Kings of the Gallery of Kings</li>
                    <li>Destruction of all statues of gates with the exception of the Virgin of the pier of the Portal of the cloister.</li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <h1> Late 13th - Early 14th Century </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p> he names of the contractors are known: Jean de Chelles, Pierre Montreuil, Pierre de Chelles, Jean Ravy, the Blue Jean
                    <br/>
                    Enlargement of the arms of the transepts: brace North)Portal of the cloister and North rose) and South brace)Portal Saint-etienne and South rose).
                    <br />

                    Development of the chapels the choir and the nightstand between the foothills.
                    <br />

                    Implementation of large flying buttresses the choir and the bedside of 15-meter fly.
                    <br />

                    Erection of the jube and a stone fence painted around the choir and sanctuary.</p>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <h1> 1225-1250 </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p> High Gallery and the two towers on the façade, modification and expansion of high windows and development of side chapels of the nave between the abutments of the flying buttresses (4th contractor). </p>
            </div>
        </div>
        
        <div class="column">
            <div class="title">
                <h1>1190-1225 </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p> building the Foundation of the façade and first two bays of the navefitting of the two bays to the front up to the Gallery of Kings. (3rd contractor). </p>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <h1> 1182-1190 </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p> construction of last three spans of the nave, the aisles and forums. (2nd prime contractor). </p>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <h1> 1163-1182 </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p> construction of the Choir and his double ambulatory. The high altar of the chorus is dedicated May 19, 1182 by Henri de Château-Marçay, papal legate, assisted by the Bishop Maurice de Sully. (1 prime contractor).</p>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <h1> 1163  </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p> the date traditionally used for the laying of the first stone of Notre Dame in the presence of Pope Alexander III. </p>
                <p>The new building is part of the momentum of the new art that will be called Gothic (or ogival art). Sites already preceded him in this movement:</p>
                <ul class="dashed">
                    <li>in 1140 with the consecration of the Abbey of Saint-Denis built by the Abbot Suger</li>
                    <li>1150: Noyon</li>
                    <li>1153: Senlis</li>
                    <li>1160: Laon, sense</li>
                </ul>
                <br/>
                <p>The first prime contractor anonymous takes advantage of a plan double aisle and transept salient (choices that belonged to the previous St. Stephen's Cathedral), rising to four storeys supported by the forumslarge sexpartite vaults at 32 metres 50, predominance of the horizontal line, original sulution for the vaulting of the rotating part of the ambulatory, alternation of batteries 'strong '. and batteries 'weak '. between the first and the second aisle.</p>
            </div>
        </div>
    <div class="column">
        <div class="title">
            <h1> 1160 </h1>
            <h2>October 12, 1160 <br> Maurice of Sully is elected Bishop of Paris. </h2>
        </div>
        <div class="description">
            <p>Parisin a context of strong population growth and economic dynamism, affirms the significance of his role in the Kingdom of France as:</p>
            <ul class="dashed">
                <li>political capital of the Capetian kings including 1 Philippe (1060-1108), Louis VI the FAT (1108-1137) and Louis VII the young (1137-1180)</li>
                <li>economic centre with the development on the right bank of the Seine to a city of craftsmen and merchants around the market Hall.</li>
                <li>a place of intellectual training : international radiation the cathedral school.</li>
            </ul>
            <br/>
            <p>Maurice of Sully is Bishop of Paris from 1160 to 1196. Since his election, he offers a theological, spiritual and pastoral response to the transformation of his diocese by the reconstruction of a Cathedral church dedicated to the Virgin Mary (Notre Dame) and consulidating the functions of the Church the Bishop, Church of the canons and Baptistery. This project is at the center ofa huge urban project :</p>
            <ul class="dashed">
                <li>demulition the former Saint-etienne and building of our Lady</li>
                <li>development of a Parvis intended as an intermediate space between the secular world and the world of faith: place of catechesis sculpted by teaching to the portals</li>
                <li>construction of the new-Notre-Dame Street : full path of 6 meters wide allowing easy access to the Cathedral for a large population; It will serve as a framework for the course of the centuries in large processions</li>
                <li>reconstruction of the episcopal Palace and the Hôtel-Dieu.</li>
            </ul>
        </div>
    </div>
    

    </div>

</div>

{% endblock %}
