{% extends "layout.html" %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

    * {
        pading: 0;
        margin: 0;
        font-family: "Lato", sans-serif;
        position: relative;
    }

    .timeline {
        padding: 40px 0px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;
    }

    .timeline:before {
        content: "";
        position: absolute;
        top: 40px;
        left: 65px;
        width: 3px;
        height: calc(100% - 80px);
        background: #c0392b;
    }

    .timeline .column {
        margin: 40px 40px 40px 120px;
    }

    .timeline .column .title h1 {
        font-size: 120px;
        color: rgba(0,0,0,0.1);
        font-family: serif;
        letter-spacing: 3px;
    }

    .timeline .column .title h1:before {
        content: "";
        position: absolute;
        left: -62px;
        top: 86px;
        width: 10px;
        height: 10px;
        background: #fff;
        border: 3px solid #c0392b;
    }

    .timeline .column .title h2 {
        margin-top: -60px;
        font-size: 33px;
    }

    .timeline .column .description p {
        font-size: 13px;
        line-height: 20px;
        margin-left: 20px;
        margin-top: 10px;
        font-family: serif;
    }

    .timeline .column .description {
        border-left: 1px solid #000;
    }

    .main {
        width: 80%;
        margin-left: 10%;
        margin-top: 80px;
    }

    .main h1 {
        font-size: 80px;
        line-height: 60px;
    }

    .main p {
        font-size: 13px;
        line-height: 20px;
        font-family: serif;
        text-align: right;
    }
</style>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class="row">
    <img class="img-responsive" src="../static/content/cnd_night.jpg"/>
</div>
<!-- Thanks! https://codepen.io/knyttneve/pen/bgvmma -->
<div class="row">
    <div class="main">
        <h1>Cathedral Of<br>Notre Dame</h1>
        <p>Všetko od roku 1867 až po rok 2003. História, postupy, vanálezy...</p>
    </div>

    <div class="timeline">
        <div class="column">
            <div class="title">
                <h1> 2004 </h1>
                <h2>  Cardinal-Archbishop <br> Jean-Marie Lustiger </h2>
            </div>
            <div class="description">
                <p> The last changes, in 2004, under the episcopate of the Cardinal-Archbishop Jean-Marie Lustigerwill allow others to find the area of movement between the two transepts and, due to the new arrangement of places. associate fully the choir and the nave are now more than one during liturgical celebrations. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 2000 </h1>
                <h2>  Clean-up Campaign of the  <br> Western façade </h2>
            </div>
            <div class="description">
                <p> The great clean-up campaign of the Western façade which lasted more than a decade and which, thanks to the talents of the restorers of the services of Historical Monuments and the techniques used, allows us since the year 2000 again admire the jewels of medieval architecture in all its splendour. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1990 - 1992 </h1>
                <h2> Large-scale Restoration </h2>
            </div>
            <div class="description">
                <p> The big organbecame probably in the 20th century the most famous of the world, was the subject ofa large-scale restoration carried out by a group of french organ factors. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1965 </h1>
                <h2> Renewal of the Stained <br> Glass Windows of the Nave </h2>
            </div>
            <div class="description">
                <p> The culmination of 30 years of intense debates on the renewal of the stained glass windows of the nave in lieu of the grisailles of the nineteenth. It is ultimately the master glassmaker Jacques the Chevallier who was chosen to achieve these canopies on the principle of grisailles figurative and lively colours, which corresponded to a State and a bright atmosphere as they had been in the 13th century. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1972 <!-- – 1978 --> </h1>
                <h2> ROBERT M. SALTER: <br> THE VERY HIGH SPEED TRANSIT SYSTEM </h2>
            </div>
            <div class="description">
                <p> Jednalo sa o víziu podzemnej tunelovej prepravy obrovskou rýchlosťou,  až 16000 km/h. Technológiu nazval "plávanie po magnetickej dráhe" a prepravný modul "gondolou".Za kľúčové považoval minimalizovanie energie nutnej na prevádzku. Preto navrhol vytvoriť v tuneli atmosféru, aká panuje v maximálnej nadmorskej výške, v ktorej lietajú dopravné lietadlá. Tým by sa minimalizoval odpor vzduchu. Aby ešte ušetril ďalšiu energiu, potreboval eliminovať trenie. Riešením boli „elektromagnetické lôžka. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1974 <!-- - 2009 --> </h1>
                <h2> SWISSMETRO </h2>
            </div>
            <div class="description">
                <p> Swissmetro bol/je švajčiarsky vactrain projekt cez 100 km dlhý nízkotlakový tunel. Pomocou lineárnych elektromotorov mala rýchlosť súpravy presahovať 520 km/h. Na rozdiel od iných svetových vactrain projektov, plánovali Švajčiari vybudovať tunel pre štandardne veľké vlakové súpravy. Tunel teda musel mať priemer 5 až 6 m. Iniciátorom projektu bol Rodolphe Nieth, ktorý pracoval ako inžinier pre Švajčiarske spolkové dráhy. Projekt bol oficiálne ukončený v roku 2009. </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 1997 </h1>
                <h2> DARYL OSTER: <br> EVACUATED TUBE TRANSPORT TECHNOLOGIES (ET3) </h2>
            </div>
            <div class="description">
                <p> Opäť sa jedná o nízkotlakový potrubný systém, v ktorom sa pohybuje transportná kapsula, za pomoci lineárnych elektromotorov a magnetickej levitácie (maglev). Tzn., že kapsula nemusí mať žiadne pohyblivé alebo elektricky aktivované komponenty – pasívne supravodiče umožňujú kapsule vznášať sa v trubici, pričom vírivé prúdy indukované vo vodivých materiáloch umožňujú riadenie kapsuly. Na jej rozbeh by sa z veľkej časti využívala energia, ktorá vzniká pri brzdení (rekuperácia). </p>
            </div>
        </div>

        <div class="column">
            <div class="title">
                <h1> 2003 </h1>
                <h2> MICHAEL THALHAMMER: <br> TUBEWAY </h2>
            </div>
            <div class="description">
                <p> Tubeway podobne ako Hyperloop využíva systém transportného potrubia. Vo vnútri transportného potrubia sa pohybuje kapsula pomocou pneumatického pohonu. Kompresor zabudovaný v kapsule nasáva vzduch z prednej časti kapsuly, ktorý stlačí a uvoľní zo zadnej časti kapsuly. Kapsula v potrubí nelevituje, pohybuje sa pomocou kolies. Jej rýchlosť sa má pohybovať od 40 do 350 km/h. Tubeway je však stále len v rovine teoretickej a experimentálnej práce. </p>
            </div>
        </div>
    </div>

</div>

{% endblock %}
