{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cathedral of Notre Dame</h1>
    <img class="img-responsive" src="../static/content/main.jpg"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Learn more about Cathedral of Notre Dame.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('about') }}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>History</h2>
        <p>The history of its construction to its architecture, through all the secrets it contains, find out everything you always wanted to know about this historic monument.</p>
        <p><a class="btn btn-default" href="{{ url_for('history') }}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Works Cited</h2>
        <p>Used references</p>
        <p><a class="btn btn-default" href="{{ url_for('workscited') }}">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
