{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Cathedral of Notre Dame</h1>
    <img class="img-responsive" src="../static/content/main.jpg"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Learn more about Cathedral of Notre Dame.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('about') }}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>History</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="{{ url_for('history') }}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Works Cited</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="{{ url_for('workscited') }}">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
